<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<head th:replace="/layout :: header"></head>
<h3>Player List</h3>
<p>
    <a th:href="@{/create}">Add new player</a>
</p>

<p style="color: darkseagreen" th:text="${mess}"></p>

<table id="players" border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Position</th>
        <th>Experience</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player:${player}">
        <td th:text="${player.id}"></td>
        <td th:text="${player.name}"></td>
        <td th:text="${player.position}"></td>
        <td th:text="${player.experience}"></td>
        <td><a th:href="@{/delete(id=${player.id})}">delete</a></td>
        <td><a th:href="@{/view/__${player.id}__}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>